.navbarRuya {
  background-color: #29264a;
  height: 20vh;
}
.logo-icon {
  padding-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
  /* top: 5vh; */
  transform: translate(-50, -50%);
}
.menu-icon-inside {
  font-size: xx-large;
  color: white; /* İkon rengini beyaz olarak ayarlayın veya istediğiniz başka bir renk kullanabilirsiniz */
}

/* İkonun hover (üzerine gelindiğinde) rengini değiştirmek için */
.menu-icon-inside:hover {
  color: #ffcc00; /* İkonun hover rengini istediğiniz bir renk olarak ayarlayın */
}

/* İkona varsayılan Bootstrap buton stili eklemek istiyorsanız */
.menu-icon button {
  background-color: transparent;
  border: none;
  outline: none;
}
.contact-popup {
  background-color: #29264a;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: height 0.7s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.contact-popup button {
  background-color: #4caf50; /* Renk seçimi (Green) */
  color: white;
  padding: 10px 20px; /* Yükseklik ve genişlik ayarı */
  border: none;
  border-radius: 5px; /* Kenar yuvarlama */
  cursor: pointer;
  margin: 5px; /* Butonlar arasındaki boşluk */
  font-size: 16px;
  transition: background-color 0.3s ease; /* Arka plan rengi değişim animasyonu */
}

.contact-popup button:hover {
  background-color: #45a049; /* Hover efekti için farklı bir renk */
}

.contact-popup.visible {
  height: 8vh; /* İstediğiniz yükseklik değerini ayarlayabilirsiniz */
  transition: height 0.5s ease-in-out; /* Aynı transition stilini kapanırken de kullanın */
}
.search-container {
  margin: 20px;
  text-align: center;
  transition: height 0.7s ease-out;
}

#searchInput {
  padding: 10px;
  width: 300px;
}

.search-results {
  display: none;
  margin-top: 10px;
  border: 1px solid #ccc;
  max-height: 25vh;
  min-width: 10vh;
  overflow-y: scroll;
}

.search-results a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.search-results a:hover {
  background-color: #f1f1f1;
}
.anaRenk {
  color: #29264a;
}
.paragraf {
  font-size: 18px;
  font-family: cursive;
  opacity: 0.5;
}
.ruyaTabirleri {
  background-color: white;
  padding-bottom: 2vh;
  padding-left: 1vh;
  padding-right: 1vh;
}
.bigBody {
  background: #f1f3f6;
}
.populerTabirler {
  padding: 10px;
  min-height: 40vh;
}
.populerTabir {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2vh;
  padding: 5px;
  padding-left: 15px !important;
}
.populerTabir h3 {
  color: #29264a;
}
.populerTabir p {
  font-size: 16px;
  font-family: cursive;
  opacity: 0.5;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Footer stilleri */
.site-footer {
  background-color: #29264a;
  color: #fff;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-column h3 {
  margin-bottom: 15px;
}

.footer-column p {
  margin-bottom: 10px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #ffcc00;
}
